name: Unit tests

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.7'
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Testar com pytest
      run: |
        pytest --verbose
