name: Verificacao de dependencias

on:
  schedule:
    - cron: "00 12 * * 3"

jobs:
  cron:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.10]
        os: [ubuntu-latest, windows-latest]
        pre-release-dependencies: ["--pre", ""]
    steps:
    - uses: actions/checkout@v2
    - name: Configura Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Instala dependencias
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        pip install ${{ matrix.pre-release-dependencies }} pandas
        pip freeze
    - name: Testa com pytest
      run: |
        pip install -e ".[test]"
        pytest
